In [ ]:
#importing all libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
#importing kaggle dataset
books=pd.read_csv("../data/raw/books.csv")
ratings=pd.read_csv("../data/raw/ratings.csv")
print(books.head())
print(ratings.head())

   id  book_id  best_book_id  work_id  books_count       isbn        isbn13  \
0   1  2767052       2767052  2792775          272  439023483  9.780439e+12
1   2        3             3  4640799          491  439554934  9.780440e+12
2   3    41865         41865  3212258          226  316015849  9.780316e+12
3   4     2657          2657  3275794          487   61120081  9.780061e+12
4   5     4671          4671   245494         1356  743273567  9.780743e+12

                       authors  original_publication_year  \
0              Suzanne Collins                     2008.0
1  J.K. Rowling, Mary GrandPr√©                     1997.0
2              Stephenie Meyer                     2005.0
3                   Harper Lee                     1960.0
4          F. Scott Fitzgerald                     1925.0

                             original_title  ... ratings_count  \
0                          The Hunger Games  ...       4780653
1  Harry Potter and the Philosopher's Stone  ...       4602479
2                                  Twilight  ...       3866839
3                     To Kill a Mockingbird  ...       3198671
4                          The Great Gatsby  ...       2683664

  work_ratings_count  work_text_reviews_count  ratings_1  ratings_2  \
0            4942365                   155254      66715     127936
1            4800065                    75867      75504     101676
2            3916824                    95009     456191     436802
3            3340896                    72586      60427     117415
4            2773745                    51992      86236     197621

   ratings_3  ratings_4  ratings_5  \
0     560092    1481305    2706317
1     455024    1156318    3011543
2     793319     875073    1355439
3     446835    1001952    1714267
4     606158     936012     947718

                                           image_url  \
0  https://images.gr-assets.com/books/1447303603m...
1  https://images.gr-assets.com/books/1474154022m...
2  https://images.gr-assets.com/books/1361039443m...
3  https://images.gr-assets.com/books/1361975680m...
4  https://images.gr-assets.com/books/1490528560m...

                                     small_image_url
0  https://images.gr-assets.com/books/1447303603s...
1  https://images.gr-assets.com/books/1474154022s...
2  https://images.gr-assets.com/books/1361039443s...
3  https://images.gr-assets.com/books/1361975680s...
4  https://images.gr-assets.com/books/1490528560s...

[5 rows x 23 columns]
   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [19]:
books.shape,ratings.shape

((10000, 23), (981756, 3))

In [21]:
books.isnull().sum()

id                              0
book_id                         0
best_book_id                    0
work_id                         0
books_count                     0
isbn                          700
isbn13                        585
authors                         0
original_publication_year      21
original_title                585
title                           0
language_code                1084
average_rating                  0
ratings_count                   0
work_ratings_count              0
work_text_reviews_count         0
ratings_1                       0
ratings_2                       0
ratings_3                       0
ratings_4                       0
ratings_5                       0
image_url                       0
small_image_url                 0
dtype: int64

In [24]:
ratings["rating"].value_counts()
ratings["rating"].describe()

count    981756.000000
mean          3.856534
std           0.983941
min           1.000000
25%           3.000000
50%           4.000000
75%           5.000000
max           5.000000
Name: rating, dtype: float64

In [ ]:
ra