In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
import kaggle
kaggle.api.authenticate()
import pandas as pd

# Load books.csv
df = pd.read_csv(r"C:\Users\Arpit Gupta\Book_Recommendation-\Book_Recommendation-\data\raw\data\raw\book_tags.csv")
df.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716